.navbar-brand{
    font-weight: bold;
    font-size: xx-large;
    font-family: "Calibri";
}

.navbar-nav{
    color: white;
    font-size: x-large;
    font-family: "Calibri";
}

.panel{
    width: 20%;
    background: whitesmoke;
}
button:hover{
    text-decoration: none;
}

.image{
    position: relative;
}

.text{
    margin-top: 6%;
    margin-left: 35%;
    font-weight: bold;
    font-size: 70px;
    font-family: "Calibri";
    position: absolute;
}

.ques{
    position: relative;
    margin-top: 20px;
    margin-left: 25%;
    font-size: x-large;
    font-family: "Calibri";
    font-weight: bold;
}

.form-control{
    margin:0 10px 10px 10px;
}

.button{
    margin-left: 45%;
}